[submodule "catkin_ws/src/cartographer"]
	path = catkin_ws/src/cartographer
	url = https://github.com/googlecartographer/cartographer.git
[submodule "catkin_ws/src/cartographer_ros"]
	path = catkin_ws/src/cartographer_ros
	url = https://github.com/googlecartographer/cartographer_ros.git
[submodule "catkin_ws/src/ceres-solver"]
	path = catkin_ws/src/ceres-solver
	url = https://ceres-solver.googlesource.com/ceres-solver.git
[submodule "models"]
	path = models
	url = https://github.com/risteon/models.git
